/****************************************   Custom Style   **************************************/

.page-section.home-page {
background: url(assets/images/bg-3.html) rgba(52, 149, 243, 0);
color: rgba(52, 149, 243, 0);
background-size: cover;
}
#spaces-main .site-name a,
#spaces-main .showMenu,
#spaces-main .showMenu a {
	color: #ffffff;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
    ._pattern-overlay { 
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0.3;
		bottom: 0;
		background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png);
		z-index: 1;
	}
}
.pattern{
background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 20px);
}

.video-background {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  overflow: hidden;
  height: 100vh;
}
.video-background ._pattern-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.3;
  bottom: 0;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.74) 2px, rgba(0, 0, 0, 0.8) 2px, rgba(0, 0, 0, 0.51) 5px);
  z-index: 1;
}
.video-background ._bg-iframe {
  position: absolute;
  pointer-events: none;
  height: 200vh;
  width: 100%;
  top: -50vh;
}